@use '@angular/material' as mat;

// Define primary palette (Itau orange/blue theme)
$primary-palette: mat.define-palette(mat.$blue-palette, 600, 100, 800);

// Define error palette
$error-palette: mat.define-palette(mat.$red-palette);

// Define warn palette
$warn-palette: mat.define-palette(mat.$orange-palette);
